<div id="countryDetails">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <img src="{{flagImageUrl}}" alt="{{countryName}}">
            </div>
            <div class="col-12 col-md-8">
                <h4>{{countryName}}</h4>
                <p>Capital: {{capitalName}}</p>
                <p>Currency: {{currency}}</p>
                <p>Language: {{language}}</p>
                <p>Population: {{populationCount}}</p>
                <p>Subregion: {{subregion}}</p>
                <p>Timezone: {{timezone}}</p>
                <p class="neighbors">Neighbors: {{neighbors}}</p>
            </div>
        </div>
    </div>
</div>